<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="BeMusicSeeker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <BeMusicSeeker.Properties.Settings>
            <setting name="OperationModeLR2DB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LR2RootPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LR2SongDBPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LR2ConfigXmlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="uBMplayPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UsePlayeruBMplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BMSRootPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TableListURL" serializeAs="String">
                <value>https://script.google.com/macros/s/AKfycbzaQbcI9UZDcDlSHHl2NHilhmePrNrwxRdOFkmIXsfnbfksKKmAB3V65WZ8jPWU-7E/exec?table=tablelist</value>
            </setting>
            <setting name="LR2CustomFolderOutputBaseDir" serializeAs="String">
                <value />
            </setting>
            <setting name="LR2CustomFolderOutputBaseDirRootType" serializeAs="String">
                <value />
            </setting>
            <setting name="uBMplayVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="FolderSkipPlayMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RepeatPlayMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SinglePlayMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BMSInstallDir" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowPlacement" serializeAs="Xml">
                <value />
            </setting>
            <setting name="TreeViewWidth" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="UsePlayerLR2body" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LR2bodyResolution" serializeAs="String">
                <value>640,360</value>
            </setting>
            <setting name="LR2bodyWindowPlacement" serializeAs="Xml">
              <value />
            </setting>
            <setting name="IsSaveLR2bodyWindowPosition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BMIIDXViewPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UsePlayerBMIIDXView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsLR2BackupEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LR2BackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LR2BackupSpan" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="LR2BackupNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PlayerPanelState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseExternalWebBrowser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseExternalPanelImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StagefilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UseOnlyShiftJISChars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FolderNameFormat" serializeAs="String">
                <value>[%ARTIST%] %TITLE%</value>
            </setting>
            <setting name="ShowScoreViewerRegisterConfirmMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDiffBMSInstallConfirmMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRecommUpdatedMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkipInitFileCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipInitPlaylistLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipEstimateOfflineScoreRanking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Encoder" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EncoderSampleRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EncoderQuality" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="EncoderFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EncoderNormalization" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EncoderExeDir" serializeAs="String">
                <value />
            </setting>
            <setting name="EncoderAmplifier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EncodeFileNameFormat" serializeAs="String">
                <value>[%ARTIST%] %TITLE%</value>
            </setting>
            <setting name="PlayerDriver" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="PlayerSampleRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerBufferSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerDeviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="PlayerWASAPIParam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value>ja-JP</value>
            </setting>
            <setting name="AutoInstall" serializeAs="String">
                <value>False</value>
            </setting>
        </BeMusicSeeker.Properties.Settings>
    </userSettings>
</configuration>
